body {
margin: 0;
background: white
}

.header {
background: #0A2342;
color: white;
padding: 20px 0
}

.header h1 {
text-align: center
}

.nav {
background: #B0B7BD;
padding: 20px 0;
text-align: right
}

.nav-item {
display: inline-block;
padding-left: 20px;
padding-right: 20px;
}

.btn {
background: #0A2342;
color: white;
text-transform: uppercase;
width: 175px
}

.btn:hover {
background: white;
color: #C81F32
}

.center {
text-align: center
}

h3 {
color: #0A2342
}

.title {
width: 300px
}

.pad {
padding: 50px 0
}