<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Question List</title>
</head>
<body>
    <h1>Hello</h1>
    <table>
        <tr>
            {% for item in list_head %}
                <th><h4><a href="/list?order_by={{ item }}&order_direction=asc">&#8593</a>{{ item }}<a href="/list?order_by={{ item }}&order_direction=desc">&#8595</a></h4></th>
            {% endfor %}
        </tr>
        {% for data in data_list %}
        <tr>
            <td width="100" align="center">{{ data['id'] }}</td>
            <td width="500"><a href="/question/{{ data['id'] }}">{{ data['title'] }}</a></td>
            <td width="200" align="center">{{ data['submission_time'] }}</td>
            <td width="100" align="center">{{ data['vote_number'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% if limit %}
        <div id="list_all"><a href="/list">List all questions</a></div>
    {% endif %}
</body>
</html>